{$COLLAB_DOMAIN} {
	encode zstd gzip

	reverse_proxy server:8080 {
		header_up X-Forwarded-For {remote_host}
		header_up X-Real-IP {remote_host}
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		-Server
	}

	log {
		output stdout
		format json
	}
}
